---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---
Md. Rifat Hossen is a high-achieving engineering student, researcher, and leader at PUST, excelling in academics,
research, competitive programming, and community initiatives, with expertise in cutting-edge technologies and a strong
track record of innovation and leadership.
<div class="wordwrap">📚 Research Publications: <a href="https://mdrifat-hossen.github.io/publications/">View Publications</a>.</div>

<div class="wordwrap">🚀 Software & AI Projects: <a href="https://mdrifat-hossen.github.io/projects/">View Projects</a>.</div>

<div class="wordwrap">🏅 Professional Certifications: <a href="https://mdrifat-hossen.github.io/_pages/gallery.html">View Certificates</a>.</div>

<div class="wordwrap">📷 Academic & Event Gallery: <a href="https://mdrifat-hossen.github.io/_pages/photo.html">View Gallery</a>.</div>


{% include base_path %}


{% assign sorted_portfolio = site.portfolio | sort: "order" %}
{% for post in sorted_portfolio %}
{% include archive-single.html %}
{% endfor %}